/********** STANDARDS **********/
html, body {
    font-family: Candara, Verdana, Arial, sans-serif;
    font-size: 10pt;
    background-color: #000033; 
    color: #ccccff;
    height: 100%;}
h1, h2, h3 {
    margin: 0px;}
h1 {
    margin-bottom: 12px;
    text-align: left;
    font-size: 54pt;
    color: rgb(157,195,230);}
h2 {
    color: #cce6ff;
    font-size: 100%;
    font-weight: bold;
    padding: 4px;}
p {
    margin: 0px;}
.logo { /* formatting for logo in general */
    float: left;
    width: 40%;}
em { /* formatting for DB in logo*/
    font-size: 38pt;
    color: #ffffff;}
#main {          
    clear: both;} /* ensures that main content doesn't flow around top section */
div#panelAdmin.active{
    display: block;
    height: 100%;}
div.tourdbPanel {
    display: block;}
.button {
    padding: 5px 5px 5px 5px;}
footer { 
    position: fixed;
    bottom: 15px;
    left: 20px;}

/*****************************/


