/********** STANDARDS **********/
html, body {
    font-family: Candara, Verdana, Arial, sans-serif;
    font-size: 10pt;
    background-color: #000033; 
    color: #ccccff;
    height: 100%;}

h1, h2, h3 {
    margin: 0px;
}

h1 {
    margin-bottom: 12px;
    text-align: left;
    font-size: 54pt;
    color: rgb(157,195,230);
}

h2 {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: #000033;
}

h3 {
    color: #cce6ff;
    font-size: 100%;
    font-weight: bold;
    padding: 4px;
}

p {
    margin: 0px;}
#logo { /* formatting for logo in general */
    float: left;
    width: 40%;}
em { /* formatting for DB in logo*/
    font-size: 38pt;
    color: #ffffff;}
#main {          
    clear: both;} /* ensures that main content doesn't flow around top section */
table {
    color: #ccccff;}

/********** TOPIC BUTTONS **********/
.navBtns_btn_li.loginReq {
    display: none;
}

.navBtns, .uiAdmTrk_btns {
    margin: 0;
    padding: 0;
    padding-top: 36px;}

.navBtns_btn_li, .uiAdmTrk_btns_li {
    display: inline-block;
    /*list-style-type: none;*/
    background-color: #cce6ff;
    /*border-bottom: 3px solid #cce6ff;*/
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 20px;
    /*border-bottom: 3px solid #cce6ff;*/
}

.navBtns_btn_li.active {
    background-color: #4da9ff;
    /*border-bottom: 3px solid #4da9ff;
    border-bottom: 3px solid #4da9ff;*/
}

.navBtns_btn_li:hover {
    background-color: #b16af8;
    /*border-bottom: 3px solid #4da9ff;
    border-bottom: 3px solid #4da9ff;*/
}

.navBtns_btns_a, .uiAdmTrk_btns_a {
    display: block;
    color: #001a33;
    padding: 3px 30px 3px 30px;
    /*border-bottom: 3px solid #cce6ff;*/
}

.tourdbPanel, .updTrk {
    display: none;}

.tourdbPanel.active, .updTrk.active { 
        display: block;}  

/********** PANELS **********/
/****************************/
#formInputFile {
    height: 20px;
}

.button {
    float: right;
    margin: 10px;
}

.formCenter, .uiDiv.active {
    /*margin-top: 40px;
    padding: 0.5em 0.5em;*/
    margin: auto;
    /*margin-top: 200px;*/
    display: block;
    background-color: #cce6ff;
    width: 600px;
    color: #333333;
    overflow: hidden;
}

/********** FILTER STYLES *********/

.dispObjOpen.hidden, .dispObjMini.hidden {
    display: none;
}

.dispObjOpen.visible, .dispObjMini.visible {
    display: block;
    margin-top: 18px;
}

#contObjectSelector {
    width: 432px;
    position: absolute;
    top: 122px;
    left: 10px;
    z-index: 100; 
}

/* display search main bar on top - both large and small */
#dispObjMenuLarge, #dispObjMenuMini {
    background-color: #0b17c7;
    height: 30px;
    padding: 5px;
}

/* display search main bar on top - small */
#dispObjMenuMini {
    width: 30px;
}

/* display search main bar on top - icon in large menu */
#dispObjMenuCloseImg {
    height: 20px;
    width: 20px;
    padding: 5px;
    float: left;
}

/* display search main bar on top - icon in small menu */
#dispObjMenuOpenImg {
    height: 20px;
    width: 20px;
    padding: 5px;
}

.dispObjMenuText {
    height: 10px;
    padding: 5px;
    margin-left: 40px;
    font-weight: bold;
}

/* Background Accordion */
.accordionBackground {
    background-color: #cce6ff;
}

/* Controls u.a. border inside accordion */
.ui-accordion .ui-accordion-content {
    padding: 0.5em 0.5em;
    border-top: 0;
    overflow: auto;
}

/* Background Accordion Header not active */
.ui-state-default{
    background-color: #cacaca;
}

/* Background Accordion Header active*/
.ui-state-active{
    background: #007fff;
}

/* Input field of search form */
.dispInput{
    position: absolute;
    left: 150px;
    padding: 2px;
}

.updTrackInput{
    display: inline-block;
    float: left;
    padding: 2px;
}

.selectable .ui-selecting { 
    background: #FECA40; 
}

.selectable .ui-selected { 
    background: #F39814; color: white; 
}

.selectable {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

.selectable li {
    display: inline-block;
    font-size: 0.8em;
    margin: 3px; 
    padding: 0.4em;  
    height: 14px;
    color: #001a33;
}

.filterHeader {
    border-color: black;
    border-width: thick;
    font-size: 1.5em;
    padding-bottom: 10px;
}

/* Form Label - first on line */
.labelFirst, .labelNext {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    margin: 3px; 
    padding: 0.4em; 
    height: 14px;
    color: #001a33;
}

/* Form Label - not first on line */
.labelNext {
    margin-left: 10px;
}

.ui-selectee {
    border: 1px solid white;
}

.ui-widget {
    font-family: Candara, Verdana, Arial, sans-serif;
}

.ui-widget-content {
    /*border: 1px solid white;
    background: #ffffff;*/
    color: #333333;
}

.ui-widget.ui-widget-content {
    border: 1px solid #0066ff;
    background-color: #cce6ff;
}    

/********** panelImport **********/
/*********************************/

.uiDiv {
    display: none;
}

/*.uiDiv.active {
    margin: auto;
    margin-top: 200px;
    display: block;
    background-color: #cce6ff;
    width: 600px;
    color: #333333;
}
*/
#headerUploadFile {
    margin: 20px;
    padding: 10px;
    color: #333333;
    font-size: 1.5em;
}

.updTrackLabelFirst{
    /*display: inline-block;*/
    float: left;
    /*clear: left;*/
    width: 150px;
    /*text-align: right;*/
}

#inputFile {
    margin: 20px;
    padding: 10px;
    font-family: Candara, Verdana, Arial, sans-serif;
}

#uiAdmTrk{
    margin-top: 40px;
    padding: 0.5em 0.5em;
}

#pImpSaveSuccess {
    display: none;
}

#footer { 
    position: fixed;
    bottom: 15px;
    left: 20px;
}

#footerText{
    float: left;
}

#statusMessage {
    float: right;
    position: fixed;
    right: 20px;
    color: red;
    font-size: 1.5em;
}

#displayMap-ResMap {
    height: 80%;
    margin: 30px;
}
