# Ignore generated export files
export/

# Ignore log files
**/log/*.log
**/log/*.out

# Ignore temp files
**/tmp

# Ignore the config file due to different pw between local host and hosttech
**/services/tourdb_config.php
services/tourdb_config.php
**tourdb_config.php

# Ignore .gitignore
.gitignore
