# Ignore generated export files
export/

# Ignore log files
**/log/*.log

# Ignore temp files
**/tmp

# Ignore the config file due to different pw between local host and hosttech
services/config.php

# Ignore .gitignore
.gitignore
